{% extends 'layouts/app.twig' %}

{% block content %}
{{ include('partials/pages/single-arrangement/banner.html.twig') }}
{{ include('partials/pages/single-arrangement/meta.html.twig') }}

<!-- content -->
<main class="container mx-auto lg:flex py-8 main-content--arrangement px-4 lg:px-0">
    <section class="content">
        {{ post.content|wpautop }}

        <div class="gallery">
            {% for img in meta.gallery %}
                {% set _img = Image(img) %}
                <a data-fslightbox href="{{ _img.src }}">
                    <img src="{{ _img.src('medium') }}" alt="{{ _img.alt }}" title="{{ _img.title }}" >
                </a>
            {% endfor %}
        </div>
    </section>

    <aside class="bg-green-opaque px-4 py-8 self-start rounded-lg">
        <h3>{{ __('Informatie aanvragen', 'bdb') }}</h3>

        {{ " [ninja_form id=2]"|shortcodes }}
    </aside>
</main>

<section class="bg-blue-opaque py-8">
    <div class="container mx-auto">
        <h3 class="text-center pb-4">{{ __('Highlights', 'bdb') }}</h3>

        <div class="lg:flex lg:flex-wrap px-4 lg:px-0">
            {% for location in locations %}
                {{ include('partials/tease/location.html.twig', { post: location}, with_context = false) }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
