{% extends 'layouts/app.twig' %}

{% block content %}
{% do action('bdb/single-arrangement/banner/pre') %}
{{ include('partials/pages/single-arrangement/banner.html.twig') }}
{% do action('bdb/single-arrangement/banner/post') %}
{% do action('bdb/single-arrangement/meta/pre') %}
{{ include('partials/pages/single-arrangement/meta.html.twig') }}
{% do action('bdb/single-arrangement/meta/post') %}

<!-- content -->
<main class="container mx-auto lg:flex py-8 main-content--arrangement px-4 lg:px-0">
    <section class="content">
        {% do action('bdb/single-arrangement/main/pre') %}
        {{ post.content|wpautop }}

        <div class="gallery">
            {% for img in meta.gallery %}
                {% set _img = Image(img) %}
                <a data-fslightbox href="{{ _img.src }}">
                    <img src="{{ _img.src('medium') }}" alt="{{ _img.alt }}" title="{{ _img.title }}" >
                </a>
            {% endfor %}
        </div>
        {% do action('bdb/single-arrangement/main/post') %}
    </section>

    <aside class="bg-green-opaque px-4 py-8 self-start rounded-lg">
        {% do action('bdb/single-arrangement/information/pre') %}
        <h3>{{ __('Informatie aanvragen', 'bdb')|apply_filters('bdb/single-arrangement/information/title') }}</h3>

        {{ "[ninja_form id=2]"|apply_filters('bdb/single-arrangement/information/form')|shortcodes }}
        {% do action('bdb/single-arrangement/information/post') %}
    </aside>
</main>

<section class="bg-blue-opaque py-8">
    <div class="container mx-auto">
        {% do action('bdb/single-arrangement/highlights/pre') %}
        <h3 class="text-center pb-4">{{ __('Highlights', 'bdb')|apply_filters('bdb/single-arrangement/highlights/title') }}</h3>

        <div class="lg:flex lg:flex-wrap">
            {% for location in locations|apply_filters('bdb/single-arrangement/highlights') %}
                {{ include('partials/tease/location.html.twig', { post: location }, with_context = false) }}
            {% endfor %}
        </div>
        {% do action('bdb/single-arrangement/highlights/post') %}
    </div>
</section>
{% endblock %}
