{% extends 'layouts/app.twig' %}

{% block content %}
<div class="bg-green-opaque">
    <div class="container mx-auto py-8">
        <section class="lg:flex">
            <div class="lg:w-1/3"></div>
            <div class="lg:w-2/3 pb-4 px-4 lg:px-0">
                <h1 class="pb-2">{{ title }}</h1>
                {% if selected_theme %}
                    <section class="content">
                        <h2 class="heading-3">{{ selected_theme.title }}</h2>
                        {{ selected_theme.description|wpautop }}
                    </section>
                {% endif %}
            </div>
        </section>
        <section class="lg:flex">
            <button class="button is-blue lg:hidden mx-auto mb-4 js-filter-open">Filter</button>
            <aside class="lg:w-1/3 px-4 lg:px-0 hidden lg:block js-filter">
                <h2 class="heading-4 pb-2 text-green">{{ __('Filter') }}</h2>
                <strong class="block">Thema's</strong>

                <ul class="mb-2">
                    {% for theme in themes %}
                        <li class="filter--item {{ theme.slug in selected_themes? 'is-active' : '' }}">
                            <input type="checkbox" {{ theme.slug in selected_themes? 'checked': '' }} name="{{ theme.slug }}" id="{{ theme.slug }}" data-param="thema" data-slug="{{ theme.slug }}">
                            <label for="{{ theme.slug }}" class="{{ theme.get_field('color') }} filter--item--label">
                                {{ theme.name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>

                <strong class="block">Tijdsduur</strong>

                <ul>
                    <li class="filter--item {{ '1_5-uur' in selected_times? 'is-active': '' }}">
                        <input data-param="tijd"
                               data-slug="1_5-uur"
                                {{ '1_5-uur' in selected_times? 'checked': '' }}
                               id="1_5-uur"
                               name="1_5-uur"
                               type="checkbox">
                        <label for="1_5-uur" class="filter--item--label">1,5 uur</label>
                    </li>
                    <li class="filter--item {{ 'dagdeel' in selected_times? 'is-active': '' }}">
                        <input data-param="tijd"
                               data-slug="dagdeel"
                                {{ 'dagdeel' in selected_times? 'checked': '' }}
                               id="dagdeel"
                               name="dagdeel"
                               type="checkbox">
                        <label for="dagdeel" class="filter--item--label">Dagdeel</label>
                    </li>
                    <li class="filter--item {{ 'hele-dag' in selected_times? 'is-active': '' }}">
                        <input data-param="tijd"
                               data-slug="hele-dag"
                                {{ 'hele-dag' in selected_times? 'checked': '' }}
                               id="hele-dag"
                               name="hele-dag"
                               type="checkbox">
                        <label for="hele-dag" class="filter--item--label">Hele dag</label>
                    </li>
                </ul>
            </aside>
            <main class="lg:w-2/3">

                {% for post in posts %}
                    {{ include('partials/tease/arrangement.html.twig', { post: post }, with_context = false) }}
                {% endfor %}

                {% if posts.pagination %}
                    {{ include('partials/pages/archive/pagination.html.twig') }}
                {% endif %}
            </main>
        </section>
    </div>
</div>
{% endblock %}
