{% set meta = post.meta %}
<article class="location-card">
    <a href="{{ post.link }}" class="location-card--link-overlay"></a>
    <figure class="location-card--figure">
        <img src="{{ meta.image }}" alt="{{ post.title }}">
    </figure>
    <section class="location-card--content">
        <h3 class="location-card--title">{{ post.title }}</h3>
        <p>{{ post.preview.length(10).read_more('').end('') }}</p>
    </section>
    <footer class="location-card--footer">
        <a class="button block is-green no-radius text-center">Bekijk</a>
    </footer>
</article>
