{% set meta = post.meta %}

{% if meta.image.src %}
    {% set thumbnail = meta.image.src('medium') %}
{% else %}
    {% set thumbnail = "https://beleefdebeemster.nl/wp-content/uploads/2020/03/Beemster-Hobrederweg-IMG_3954-scaled-e1583139046342.jpeg"|apply_filters('bdb/highlights/fallback') %}
{% endif %}

<article class="location-card">
    <a href="{{ post.link }}" class="location-card--link-overlay"></a>
    <figure class="location-card--figure">
        <img src="{{ thumbnail }}" alt="{{ post.title }}">
    </figure>
    <section class="location-card--content">
        <h3 class="location-card--title">{{ post.title }}</h3>
        <p>{{ post.preview.length(15).read_more('').end('...') }}</p>
    </section>
    <footer class="location-card--footer">
        <a class="button block is-green no-radius text-center">{{ __('Bekijk', 'bdb') }}</a>
    </footer>
</article>
